@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #000;      
  color: #fff;                 
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}


html {
  scroll-behavior: smooth;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Irish Grover', cursive;  
  font-weight: bold;
  height: 100px;
  color: #94BDFF;
  font-size: 78px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginpage{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  height:550px;
}
.logincontainer{
  border: none;
  
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
}

.logincontainer img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;  
  border-radius: 15px;  
  overflow: hidden;
}
.text{
  font-family:'serif';
  font-weight: lighter;
}
.form{
  margin-top: 10px;
  height:320px;
  width: 350px;
  padding: 10px;
  background-color: #94BDFF;
  border-radius: 45px;
  padding: 20px;
  margin-bottom: 20px;
  gap:15px;
  display: flex;
  flex-direction: column;
}
.textlog{
  font-family: 'serif';
  color: #000000;
  font-weight: bold;
  font-size: 54px;
  
}
.inputlog{
  
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 10px;
 font-family: 'serif';
}
.btnlog{
  
  width: 100%;
  height: 25px;
  border-radius: 8px;
  border: none;
  background-color: #2f71c6;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'sherif';
}
.logincontainer2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -80px; 
  margin-bottom: 85px;
}
.layer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.triangle1, .triangle2, .triangle3, .triangle4 {
  width: 180px;
  height: 210px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative; 
  margin-bottom: -120px;
}

.triangle4 { background: #8abce9; z-index: 10; }
.triangle3 { background: #87A2F5; z-index: 8; }
.triangle2 { background: #3A9df4;  z-index: 6; }
.triangle1 { background: #2f71C9;  z-index: 4; }




.ringFront {
  position:absolute;
  width: 340px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%) rotateX(180deg) ;
  
  border-radius: 50%;
  border: 3px solid #11c8a4;
}




.ringFront {
  top: 127%;
  z-index: 15;
  filter: drop-shadow(0 0 8px #17f6c9);
  clip-path: inset(0 0 9% 0);  
}


